.page5{
    background: #0AB79B;
    display: flex;
    justify-content: space-between;
    padding: 2% 7%;
    margin: auto;
    color: white;
}

.page5_right > h4{
    color: black;
}
.right_content{
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.right_contentAbout{
    margin-left: 10%;
}

.icon{
    background-color: rgba(226, 221, 221, 0.7);
    width: 32px;
    height: 40px;
    box-shadow: -1px 4px 20px -6px rgba(226, 221, 221, 0.7);
}